<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="grey-bg">
  <%- include('nav.ejs') %>

  <!-- ê²€ìƒ‰ UI -->
  <!-- ê²€ìƒ‰ ë²„íŠ¼ ëˆ„ë¥´ë©´ ì„œë²„ë¡œ GET ìš”ì²­ 
    inputì— ìž…ë ¥í•œ ê°’ë„ ì¿¼ë¦¬ ìŠ¤íŠ¸ë§ìœ¼ë¡œ ë³´ë‚¼ ê²ƒìž„-->
  <input type="text" class="search">
  <button type="button" class="search-btn">ê²€ìƒ‰</button>

  <h4 style="margin-left: 20px;">ê²€ìƒ‰ ê²°ê³¼</h4>

  <div class="white-bg">
    <% for (let i = 0; i < posts.length; i++) { %>
      <div class="list-box">
        <h4>
          <a href="/post/detail/<%= posts[i]._id%>">
            <%= posts[i].title %>
          </a>
          <a href="/post/edit/<%= posts[i]._id%>">ðŸ› </a>
          <span class="delete cursor-pointer" data-id="<%= posts[i]._id%>" >ðŸ—‘</span>
        </h4>
        <p><%= posts[i].content %></p>
        <p><%= posts[i].author %></p>
      </div>
    <% } %>
  </div>

  <div class="pagination-bg">
    <% for (let i = 1; i <= numOfPage; i++) { %>
      <a href="/post/search?keyword=<%= keyword %>&page=<%= i %>" class="<%= currentPage == i ? 'active' : '' %>">
        <%= i %>
      </a>
    <% } %>
  </div>


  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/list.js" ></script>

</body>
</html>